
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 100%;
    overflow-x: hidden;
}
#filter{
  position: initial;
  transform: initial;
  width: auto;
}
#filter-wrap > :last-child{
  margin-left: auto;
}
#filter-box{
  flex: 1 1 0%;
}
form {
  box-sizing: inherit;
}
#filter-ul{
  background-color: rgb(250, 250, 250);
  margin: 0;
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  
  z-index: 90;
}
li{
 display: list-item;
}